.DS_Store
*.a
*.make
*.m4
*.gmo
*.mo
*.o
*.omf
.tarball-version
Makefile
Makefile.in
dasher.xml
*.Plo
*.lo
*.la
autom4te.cache
*.Po
build-aux
stamp-*
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/Data/dasher.desktop
/Data/dasher.desktop.in
/Data/dasher.gschema.xml
**/Debug/
/Doc/user/dasher.1
**/Release*/
/Src/Gtk2/generate-schema
/Src/dasher
/Template/
*.suo
*.filters
*.sdf
*~
*.vcxproj.user
/Src/Win32/Dasher.aps
/Src/Win32/Dasher_vc2013.opensdf
Src/Win32/Dasher_vc2013.VC.db
Data/Help/Win32/Dasher.chm
Src/Win32/Dasher.VC.db
*.opendb

Src/DasherCore/.dirstamp
Src/DasherCore/.deps/
Src/DasherCore/Alphabet/.deps/
Src/DasherCore/Alphabet/.dirstamp


# Eclipse
.autotools
.cproject
.project

.gradle/
.idea

# Visual Studio Code
.ionide/
