*.a
*.make
*.m4
*.gmo
*.mo
*.o
*.omf
.tarball-version
Makefile
Makefile.in
dasher.xml
*.Plo
*.lo
*.la
autom4te.cache
*.Po
build-aux
stamp-*
Release*/
Debug/
Template/
*.suo
*.filters
*.sdf
*~
*.vcxproj.user
Src/Win32/Dasher.aps
Src/Win32/Dasher_vc2013.opensdf
