[Desktop Entry]
Version=1.0
Name=Dasher
Comment=Dasher text entry
Exec=/usr/bin/dasher
Icon=dasher
Terminal=false
Type=Application
Categories=System;
X-HildonDesk-ShowInToolbar=true
X-Osso-Service=dasher
X-Osso-Type=application/x-executable
