<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Name="Dasher 5.00-beta" 
           Id="d72a4885-f5b8-4dd2-99f1-a9b284135f5f" 
           Language="1033" 
           Codepage="1252" 
           Version="4.99.2" 
           Manufacturer="The Dasher Project" 
           UpgradeCode="47c6c060-524d-49d7-90bf-d4a837947a2f">
    <Package Keywords="Installer" Description="Dasher 5.00-beta Installer" 
             Comments="This will install Dasher" Manufacturer="The Dasher Project" 
             InstallerVersion="100" Languages="1033" Compressed="yes" SummaryCodepage="1252"/>
		<Media Id="1" Cabinet="Sample.cab" EmbedCab="yes" DiskPrompt="CD-ROM #1"/>
		<Property Id="DiskPrompt" Value="Dasher 5.00-beta Installation [1]"/>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="Dasher" Name="Dasher">
					<Directory Id="INSTALLDIR" Name="Dasher 5.00">
						<Component Id="MainExecutable" Guid="5a93ba53-2e2d-4f88-8a1f-5bdd8f130394">
							<File Id="DasherEXE" Name="Dasher.exe" DiskId="1" Source="..\Win32\Target\Release\Dasher.exe" Vital="yes"/>
							<File Id="ExpatDLL" Name="libexpat.dll" DiskId="1" Source="$(env.EXPAT)\Bin\libexpat.dll" Vital="yes"/>
						</Component>
						<!-- Commenting this out for Appveyor CI to work: see /dasher/issues/148
-							<Component Id="Help" Guid="cf486329-8d04-462b-afd4-e8e0bccc9c95">
								<File Id="HelpFile" Name="Dasher.chm" DiskId="1" Source="..\..\Data\Help\Win32\dasher.chm"/>
							</Component>
						-->
						<Directory Id="SystemRC" Name="system.rc">
							<Component Id="Alphabets" Guid="e734711a-0e68-4897-b7a6-7a60a20062b5">
								<File Id="alphabet.AfaanOromo.xml" Name="alphabet.AfaanOromo.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.AfaanOromo.xml"/>
								<File Id="alphabet.Armenian.xml" Name="alphabet.Armenian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Armenian.xml"/>
								<File Id="alphabet.Assamese.xml" Name="alphabet.Assamese.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Assamese.xml"/>
								<File Id="alphabet.Austen.xml" Name="alphabet.Austen.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Austen.xml"/>
								<File Id="alphabet.Azerbaijani.xml" Name="alphabet.Azerbaijani.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Azerbaijani.xml"/>
								<File Id="alphabet.Belarusian.xml" Name="alphabet.Belarusian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Belarusian.xml"/>
								<File Id="alphabet.Bulgarian.xml" Name="alphabet.Bulgarian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Bulgarian.xml"/>
								<File Id="alphabet.Esperanto.xml" Name="alphabet.Esperanto.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Esperanto.xml"/>
								<File Id="alphabet.Estonian.xml" Name="alphabet.Estonian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Estonian.xml"/>
								<File Id="alphabet.Filipino.xml" Name="alphabet.Filipino.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Filipino.xml"/>
								<File Id="alphabet.Greek.xml" Name="alphabet.Greek.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Greek.xml"/>
								<File Id="alphabet.Gujarati.xml" Name="alphabet.Gujarati.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Gujarati.xml"/>
								<File Id="alphabet.Hawaiian.xml" Name="alphabet.Hawaiian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Hawaiian.xml"/>
								<File Id="alphabet.Hebrew.xml" Name="alphabet.Hebrew.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Hebrew.xml"/>
								<File Id="alphabet.Hindi.xml" Name="alphabet.Hindi.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Hindi.xml"/>
								<File Id="alphabet.Icelandic.xml" Name="alphabet.Icelandic.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Icelandic.xml"/>
								<File Id="alphabet.Igbo.xml" Name="alphabet.Igbo.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Igbo.xml"/>
								<File Id="alphabet.Indonesian.xml" Name="alphabet.Indonesian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Indonesian.xml"/>
								<File Id="alphabet.IrishGaelic.xml" Name="alphabet.IrishGaelic.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.IrishGaelic.xml"/>
								<File Id="alphabet.Kannada.xml" Name="alphabet.Kannada.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Kannada.xml"/>
								<File Id="alphabet.Katakana.xml" Name="alphabet.Katakana.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Katakana.xml"/>
								<File Id="alphabet.Malay.xml" Name="alphabet.Malay.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Malay.xml"/>
								<File Id="alphabet.Malayalam.xml" Name="alphabet.Malayalam.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Malayalam.xml"/>
								<File Id="alphabet.Marathi.xml" Name="alphabet.Marathi.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Marathi.xml"/>
								<File Id="alphabet.Moldavian.xml" Name="alphabet.Moldavian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Moldavian.xml"/>
								<File Id="alphabet.Ndebele.xml" Name="alphabet.Ndebele.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Ndebele.xml"/>
								<File Id="alphabet.Oriya.xml" Name="alphabet.Oriya.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Oriya.xml"/>
								<File Id="alphabet.Punjabi.xml" Name="alphabet.Punjabi.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Punjabi.xml"/>
								<File Id="alphabet.Romanian.xml" Name="alphabet.Romanian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Romanian.xml"/>
								<File Id="alphabet.Sami.xml" Name="alphabet.Sami.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Sami.xml"/>
								<File Id="alphabet.ScotsGaelic.xml" Name="alphabet.ScotsGaelic.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.ScotsGaelic.xml"/>
								<File Id="alphabet.Sepedi.xml" Name="alphabet.Sepedi.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Sepedi.xml"/>
								<File Id="alphabet.Sesotho.xml" Name="alphabet.Sesotho.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Sesotho.xml"/>
								<File Id="alphabet.Sinhala.xml" Name="alphabet.Sinhala.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Sinhala.xml"/>
								<File Id="alphabet.Slovak.xml" Name="alphabet.Slovak.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Slovak.xml"/>
								<File Id="alphabet.Slovenian.xml" Name="alphabet.Slovenian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Slovenian.xml"/>
								<File Id="alphabet.Swati.xml" Name="alphabet.Swati.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Swati.xml"/>
								<File Id="alphabet.Tajik.xml" Name="alphabet.Tajik.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Tajik.xml"/>
								<File Id="alphabet.Tamil.xml" Name="alphabet.Tamil.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Tamil.xml"/>
								<File Id="alphabet.Telugu.xml" Name="alphabet.Telugu.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Telugu.xml"/>
								<File Id="alphabet.Thai.xml" Name="alphabet.Thai.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Thai.xml"/>
								<File Id="alphabet.Thai2.xml" Name="alphabet.Thai2.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Thai2.xml"/>
								<File Id="alphabet.Tsonga.xml" Name="alphabet.Tsonga.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Tsonga.xml"/>
								<File Id="alphabet.Tswana.xml" Name="alphabet.Tswana.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Tswana.xml"/>
								<File Id="alphabet.Turkish.xml" Name="alphabet.Turkish.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Turkish.xml"/>
								<File Id="alphabet.Urdu.xml" Name="alphabet.Urdu.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Urdu.xml"/>
								<File Id="alphabet.Vietnamese.xml" Name="alphabet.Vietnamese.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Vietnamese.xml"/>
								<File Id="alphabet.Xhosa.xml" Name="alphabet.Xhosa.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Xhosa.xml"/>
								<File Id="alphabet.Yoruba.xml" Name="alphabet.Yoruba.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Yoruba.xml"/>
								<File Id="alphabet.Zulu.xml" Name="alphabet.Zulu.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.Zulu.xml"/>
								<File Id="alphabet.abc.xml" Name="alphabet.abc.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.abc.xml"/>
								<File Id="alphabet.adangbe.xml" Name="alphabet.adangbe.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.adangbe.xml"/>
								<File Id="alphabet.afrikaans.xml" Name="alphabet.afrikaans.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.afrikaans.xml"/>
								<File Id="alphabet.akan.xml" Name="alphabet.akan.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.akan.xml"/>
								<File Id="alphabet.albanian.xml" Name="alphabet.albanian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.albanian.xml"/>
								<File Id="alphabet.amharic.xml" Name="alphabet.amharic.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.amharic.xml"/>
								<File Id="alphabet.arabic.xml" Name="alphabet.arabic.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.arabic.xml"/>
								<File Id="alphabet.basque.xml" Name="alphabet.basque.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.basque.xml"/>
								<File Id="alphabet.bengali.xml" Name="alphabet.bengali.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.bengali.xml"/>
								<File Id="alphabet.bopomofo.xml" Name="alphabet.bopomofo.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.bopomofo.xml"/>
								<File Id="alphabet.bopoTrad.xml" Name="alphabet.bopoTrad.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.bopoTrad.xml"/>
								<File Id="alphabet.bosnian.xml" Name="alphabet.bosnian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.bosnian.xml"/>
								<File Id="alphabet.breton.xml" Name="alphabet.breton.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.breton.xml"/>
								<File Id="alphabet.catalan.xml" Name="alphabet.catalan.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.catalan.xml"/>
								<File Id="alphabet.cangjie.xml" Name="alphabet.cangjie.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.cangjie.xml"/>
								<File Id="alphabet.cherokee.xml" Name="alphabet.cherokee.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.cherokee.xml"/>
								<File Id="alphabet.corsican.xml" Name="alphabet.corsican.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.corsican.xml"/>
								<File Id="alphabet.croatian.xml" Name="alphabet.croatian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.croatian.xml"/>
								<File Id="alphabet.czech.xml" Name="alphabet.czech.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.czech.xml"/>
								<File Id="alphabet.danish.xml" Name="alphabet.danish.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.danish.xml"/>
								<File Id="alphabet.dutch.xml" Name="alphabet.dutch.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.dutch.xml"/>
								<File Id="alphabet.english.xml" Name="alphabet.english.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.english.xml"/>
								<File Id="alphabet.englishC.xml" Name="alphabet.englishC.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.englishC.xml"/>
								<File Id="alphabet.ethiopic.xml" Name="alphabet.ethiopic.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.ethiopic.xml"/>
								<File Id="alphabet.ewe.xml" Name="alphabet.ewe.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.ewe.xml"/>
								<File Id="alphabet.faroese.xml" Name="alphabet.faroese.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.faroese.xml"/>
								<File Id="alphabet.finnish.xml" Name="alphabet.finnish.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.finnish.xml"/>
								<File Id="alphabet.finnish2.xml" Name="alphabet.finnish2.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.finnish2.xml"/>
								<File Id="alphabet.french.xml" Name="alphabet.french.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.french.xml"/>
								<File Id="alphabet.ga.xml" Name="alphabet.ga.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.ga.xml"/>
								<File Id="alphabet.galician.xml" Name="alphabet.galician.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.galician.xml"/>
								<File Id="alphabet.georgian.xml" Name="alphabet.georgian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.georgian.xml"/>
								<File Id="alphabet.german.xml" Name="alphabet.german.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.german.xml"/>
								<File Id="alphabet.hausa.xml" Name="alphabet.hausa.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.hausa.xml"/>
								<File Id="alphabet.hiragana.xml" Name="alphabet.hiragana.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.hiragana.xml"/>
								<File Id="alphabet.hiragana2.xml" Name="alphabet.hiragana2.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.hiragana2.xml"/>
								<File Id="alphabet.hungarian.xml" Name="alphabet.hungarian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.hungarian.xml"/>
								<File Id="alphabet.ipa.xml" Name="alphabet.ipa.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.ipa.xml"/>
								<File Id="alphabet.italian.xml" Name="alphabet.italian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.italian.xml"/>
								<File Id="alphabet.japanese.canna.xml" Name="alphabet.japanese.canna.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.japanese.canna.xml"/>
								<File Id="alphabet.kazakh.xml" Name="alphabet.kazakh.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.kazakh.xml"/>
								<File Id="alphabet.kirghiz.xml" Name="alphabet.kirghiz.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.kirghiz.xml"/>
								<File Id="alphabet.kirundi.xml" Name="alphabet.kirundi.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.kirundi.xml"/>
								<File Id="alphabet.klingon.xml" Name="alphabet.klingon.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.klingon.xml"/>
								<File Id="alphabet.korean.xml" Name="alphabet.korean.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.korean.xml"/>
								<File Id="alphabet.koreanNested.xml" Name="alphabet.koreanNested.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.koreanNested.xml"/>
								<File Id="alphabet.kurdish.xml" Name="alphabet.kurdish.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.kurdish.xml"/>
								<File Id="alphabet.lao.xml" Name="alphabet.lao.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.lao.xml"/>
								<File Id="alphabet.latex.xml" Name="alphabet.latex.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.latex.xml"/>
								<File Id="alphabet.latin.xml" Name="alphabet.latin.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.latin.xml"/>
								<File Id="alphabet.latvian.xml" Name="alphabet.latvian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.latvian.xml"/>
								<File Id="alphabet.lithuanian.xml" Name="alphabet.lithuanian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.lithuanian.xml"/>
								<File Id="alphabet.luxembourgish.xml" Name="alphabet.luxembourgish.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.luxembourgish.xml"/>
								<File Id="alphabet.macedonian.xml" Name="alphabet.macedonian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.macedonian.xml"/>
								<File Id="alphabet.maltese.xml" Name="alphabet.maltese.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.maltese.xml"/>
								<File Id="alphabet.mongolian.xml" Name="alphabet.mongolian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.mongolian.xml"/>
								<File Id="alphabet.myanmar.xml" Name="alphabet.myanmar.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.myanmar.xml"/>
								<File Id="alphabet.nepali.xml" Name="alphabet.nepali.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.nepali.xml"/>
								<File Id="alphabet.norwegian.xml" Name="alphabet.norwegian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.norwegian.xml"/>
								<File Id="alphabet.occitan.xml" Name="alphabet.occitan.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.occitan.xml"/>
								<File Id="alphabet.ogham.xml" Name="alphabet.ogham.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.ogham.xml"/>
								<File Id="alphabet.pashto.xml" Name="alphabet.pashto.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.pashto.xml"/>
								<File Id="alphabet.perl.xml" Name="alphabet.perl.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.perl.xml"/>
								<File Id="alphabet.persian.xml" Name="alphabet.persian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.persian.xml"/>
								<File Id="alphabet.pinyin2.xml" Name="alphabet.pinyin2.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.pinyin2.xml"/>
								<File Id="alphabet.polish.xml" Name="alphabet.polish.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.polish.xml"/>
								<File Id="alphabet.portuguese.xml" Name="alphabet.portuguese.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.portuguese.xml"/>
								<File Id="alphabet.romansch.xml" Name="alphabet.romansch.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.romansch.xml"/>
								<File Id="alphabet.runic.xml" Name="alphabet.runic.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.runic.xml"/>
								<File Id="alphabet.russian.xml" Name="alphabet.russian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.russian.xml"/>
								<File Id="alphabet.sanskrit.xml" Name="alphabet.sanskrit.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.sanskrit.xml"/>
								<File Id="alphabet.serbian.xml" Name="alphabet.serbian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.serbian.xml"/>
								<File Id="alphabet.somali.xml" Name="alphabet.somali.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.somali.xml"/>
								<File Id="alphabet.spanish.xml" Name="alphabet.spanish.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.spanish.xml"/>
								<File Id="alphabet.spyNew.xml" Name="alphabet.spyNew.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.spyNew.xml"/>
								<File Id="alphabet.spyTonesNew.xml" Name="alphabet.spyTonesNew.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.spyTonesNew.xml"/>
								<File Id="alphabet.spyTones2New.xml" Name="alphabet.spyTones2New.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.spyTones2New.xml"/>
								<File Id="alphabet.swahili.xml" Name="alphabet.swahili.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.swahili.xml"/>
								<File Id="alphabet.swedish.xml" Name="alphabet.swedish.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.swedish.xml"/>
								<File Id="alphabet.thaana.xml" Name="alphabet.thaana.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.thaana.xml"/>
								<File Id="alphabet.tigrinya.xml" Name="alphabet.tigrinya.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.tigrinya.xml"/>
								<File Id="alphabet.turkmen.xml" Name="alphabet.turkmen.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.turkmen.xml"/>
								<File Id="alphabet.ukrainian.xml" Name="alphabet.ukrainian.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.ukrainian.xml"/>
								<File Id="alphabet.uzbek.xml" Name="alphabet.uzbek.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.uzbek.xml"/>
								<File Id="alphabet.venda.xml" Name="alphabet.venda.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.venda.xml"/>
								<File Id="alphabet.welsh.xml" Name="alphabet.welsh.xml" DiskId="1" Source="..\..\Data\alphabets\alphabet.welsh.xml"/>
							</Component>
							<Component Id="Training" Guid="bcc684a1-0a58-474c-bfd9-c25906bc7bf4">
								<File Id="training_albanian_SQ.txt" Name="training_albanian_SQ.txt" DiskId="1" Source="..\..\Data\training\training_albanian_SQ.txt"/>
								<File Id="training_basque_ES.txt" Name="training_basque_ES.txt" DiskId="1" Source="..\..\Data\training\training_basque_ES.txt"/>
								<File Id="training_bengali_BD.txt" Name="training_bengali_BD.txt" DiskId="1" Source="..\..\Data\training\training_bengali_BD.txt"/>
								<File Id="training_canna_JP.txt" Name="training_canna_JP.txt" DiskId="1" Source="..\..\Data\training\training_canna_JP.txt"/>
								<File Id="training_czechC_CS.txt" Name="training_czechC_CS.txt" DiskId="1" Source="..\..\Data\training\training_czechC_CS.txt"/>
								<File Id="training_czech_CS.txt" Name="training_czech_CS.txt" DiskId="1" Source="..\..\Data\training\training_czech_CS.txt"/>
								<File Id="training_danish_DK.txt" Name="training_danish_DK.txt" DiskId="1" Source="..\..\Data\training\training_danish_DK.txt"/>
								<File Id="training_dutch_NL.txt" Name="training_dutch_NL.txt" DiskId="1" Source="..\..\Data\training\training_dutch_NL.txt"/>
								<File Id="training_englishLC_GB.txt" Name="training_englishLC_GB.txt" DiskId="1" Source="..\..\Data\training\training_englishLC_GB.txt"/>
								<File Id="training_english_GB.txt" Name="training_english_GB.txt" DiskId="1" Source="..\..\Data\training\training_english_GB.txt"/>
								<File Id="training_finnish_FI.txt" Name="training_finnish_FI.txt" DiskId="1" Source="..\..\Data\training\training_finnish_FI.txt"/>
								<File Id="training_frenchC_FR.txt" Name="training_frenchC_FR.txt" DiskId="1" Source="..\..\Data\training\training_frenchC_FR.txt"/>
								<File Id="training_french_FR.txt" Name="training_french_FR.txt" DiskId="1" Source="..\..\Data\training\training_french_FR.txt"/>
								<File Id="training_german_DE.txt" Name="training_german_DE.txt" DiskId="1" Source="..\..\Data\training\training_german_DE.txt"/>
								<File Id="training_greek_GR.txt" Name="training_greek_GR.txt" DiskId="1" Source="..\..\Data\training\training_greek_GR.txt"/>
								<File Id="training_hebrew_IL.txt" Name="training_hebrew_IL.txt" DiskId="1" Source="..\..\Data\training\training_hebrew_IL.txt"/>
								<File Id="training_hiragana60_JP.txt" Name="training_hiragana60_JP.txt" DiskId="1" Source="..\..\Data\training\training_hiragana60_JP.txt"/>
								<File Id="training_hiragana83_JP.txt" Name="training_hiragana83_JP.txt" DiskId="1" Source="..\..\Data\training\training_hiragana83_JP.txt"/>
								<File Id="training_hungarian_HU.txt" Name="training_hungarian_HU.txt" DiskId="1" Source="..\..\Data\training\training_hungarian_HU.txt"/>
								<File Id="training_italianC_IT.txt" Name="training_italianC_IT.txt" DiskId="1" Source="..\..\Data\training\training_italianC_IT.txt"/>
								<File Id="training_italian_IT.txt" Name="training_italian_IT.txt" DiskId="1" Source="..\..\Data\training\training_italian_IT.txt"/>
								<File Id="training_mongolian_MN.txt" Name="training_mongolian_MN.txt" DiskId="1" Source="..\..\Data\training\training_mongolian_MN.txt"/>
								<File Id="training_persian_IR.txt" Name="training_persian_IR.txt" DiskId="1" Source="..\..\Data\training\training_persian_IR.txt"/>
								<File Id="training_polish_PL.txt" Name="training_polish_PL.txt" DiskId="1" Source="..\..\Data\training\training_polish_PL.txt"/>
								<File Id="training_portugueseC_BR.txt" Name="training_portugueseC_BR.txt" DiskId="1" Source="..\..\Data\training\training_portugueseC_BR.txt"/>
								<File Id="training_portuguese_BR.txt" Name="training_portuguese_BR.txt" DiskId="1" Source="..\..\Data\training\training_portuguese_BR.txt"/>
								<File Id="training_russian_RU.txt" Name="training_russian_RU.txt" DiskId="1" Source="..\..\Data\training\training_russian_RU.txt"/>
								<File Id="training_spanishC_ES.txt" Name="training_spanishC_ES.txt" DiskId="1" Source="..\..\Data\training\training_spanishC_ES.txt"/>
								<File Id="training_spanish_ES.txt" Name="training_spanish_ES.txt" DiskId="1" Source="..\..\Data\training\training_spanish_ES.txt"/>
								<File Id="training_spyNew.txt" Name="training_spyNew.txt" DiskId="1" Source="..\..\Data\training\training_spyNew.txt"/>
								<File Id="training_swahili_KE.txt" Name="training_swahili_KE.txt" DiskId="1" Source="..\..\Data\training\training_swahili_KE.txt"/>
								<File Id="training_swedish_SE.txt" Name="training_swedish_SE.txt" DiskId="1" Source="..\..\Data\training\training_swedish_SE.txt"/>
								<File Id="training_turkish_TR.txt" Name="training_turkish_TR.txt" DiskId="1" Source="..\..\Data\training\training_turkish_TR.txt"/>
								<File Id="training_welsh_GB.txt" Name="training_welsh_GB.txt" DiskId="1" Source="..\..\Data\training\training_welsh_GB.txt"/>
							</Component>
							<Component Id="Colours" Guid="bebff3fb-083c-46f8-ac31-2484f4b1e9a8">
								<File Id="colour.blue.xml" Name="colour.blue.xml" DiskId="1" Source="..\..\Data\colours\colour.blue.xml"/>
								<File Id="colour.ean.xml" Name="colour.ean.xml" DiskId="1" Source="..\..\Data\colours\colour.ean.xml"/>
								<File Id="colour.euroasian.xml" Name="colour.euroasian.xml" DiskId="1" Source="..\..\Data\colours\colour.euroasian.xml"/>
								<File Id="colour.euroasian2.xml" Name="colour.euroasian2.xml" DiskId="1" Source="..\..\Data\colours\colour.euroasian2.xml"/>
								<File Id="colour.euroasian3.xml" Name="colour.euroasian3.xml" DiskId="1" Source="..\..\Data\colours\colour.euroasian3.xml"/>
								<File Id="colour.jamie.xml" Name="colour.jamie.xml" DiskId="1" Source="..\..\Data\colours\colour.jamie.xml"/>
								<File Id="colour.rainbow.xml" Name="colour.rainbow.xml" DiskId="1" Source="..\..\Data\colours\colour.rainbow.xml"/>
								<File Id="colour.thai.xml" Name="colour.thai.xml" DiskId="1" Source="..\..\Data\colours\colour.thai.xml"/>
								<File Id="colour.vowels.xml" Name="colour.vowels.xml" DiskId="1" Source="..\..\Data\colours\colour.vowels.xml"/>
								<File Id="colour.vowels2.xml" Name="colour.vowels2.xml" DiskId="1" Source="..\..\Data\colours\colour.vowels2.xml"/>
								<File Id="colour.xml" Name="colour.xml" DiskId="1" Source="..\..\Data\colours\colour.xml"/>
							</Component>
              <Component Id="Control" Guid="609c8273-df28-4b77-a6d6-173f9766dcef">
                <File Id="control.411.xml" Name="control.411.xml" DiskId="1" Source="..\..\Data\control\control.411.xml"/>
                <File Id="control.xml" Name="control.xml" DiskId="1" Source="..\..\Data\control\control.xml"/>
                <File Id="control.edit.txt.xml" Name="control.edit.txt.xml" DiskId="1" Source="..\..\Data\control\control.edit.txt.xml"/>
                <File Id="control.prepared_speech.txt.xml" Name="control.prepared_speech.txt.xml" DiskId="1" Source="..\..\Data\control\control.prepared_speech.txt.xml"/>
                <File Id="control.speak.txt.xml" Name="control.speak.txt.xml" DiskId="1" Source="..\..\Data\control\control.speak.txt.xml"/>
                <File Id="control.all.txt.xml" Name="control.all.txt.xml" DiskId="1" Source="..\..\Data\control\control.all.txt.xml"/>
                <File Id="control.generic.xml" Name="control.generic.xml" DiskId="1" Source="..\..\Data\control\control.generic.xml"/>
                <File Id="control.edit.xml" Name="control.edit.xml" DiskId="1" Source="..\..\Data\control\control.edit.xml"/>
                <File Id="control.prepared_speech.xml" Name="control.prepared_speech.xml" DiskId="1" Source="..\..\Data\control\control.prepared_speech.xml"/>
                <File Id="control.speak.xml" Name="control.speak.xml" DiskId="1" Source="..\..\Data\control\control.speak.xml"/>
                <File Id="control.all.xml" Name="control.all.xml" DiskId="1" Source="..\..\Data\control\control.all.xml"/>
              </Component>
              <Component Id="Settings" Guid="778c7950-dfe0-4b3e-91e7-a7c386f0daa2">
                <File Id="settings.direct.xml" Name="settings.direct.xml" DiskId="1" Source="..\..\Data\settings\settings.direct.xml"/>
                <File Id="settings.edit.xml" Name="settings.edit.xml" DiskId="1" Source="..\..\Data\settings\settings.edit.xml"/>
                <File Id="settings.prepared_speech.xml" Name="settings.prepared_speech.xml" DiskId="1" Source="..\..\Data\settings\settings.prepared_speech.xml"/>
                <File Id="settings.speak.xml" Name="settings.speak.xml" DiskId="1" Source="..\..\Data\settings\settings.speak.xml"/>
              </Component>
            </Directory>
					</Directory>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="Programs">
				<Directory Id="ProgramMenuDir" Name="Dasher 5.00">
					<Component Id="ProgramShortcuts" Guid="D28C2189-5E40-4f93-B42E-0CD76D8B5B37" KeyPath="no">
            <Shortcut  Id="pmfShortcutDasher" Name="Dasher 5.00 beta" Target="[#DasherEXE]" WorkingDirectory="INSTALLDIR" Icon="Dasher.exe" IconIndex="0"/>
            <Shortcut  Id="pmfShortcutDasherSpeak" Name="Dasher for conversation" Target="[#DasherEXE]" Arguments="/config speak" WorkingDirectory="INSTALLDIR" Icon="Dasher.exe" IconIndex="0"/>
            <Shortcut  Id="pmfShortcutDasherPreparedSpeech" Name="Dasher for speeches" Target="[#DasherEXE]" Arguments="/config prepared_speech" WorkingDirectory="INSTALLDIR" Icon="Dasher.exe" IconIndex="0"/>
            <Shortcut  Id="pmfShortcutDasherDirect" Name="Dasher direct entry" Target="[#DasherEXE]" Arguments="/config direct" WorkingDirectory="INSTALLDIR" Icon="Dasher.exe" IconIndex="0"/>
            <Shortcut  Id="pmfShortcutDasherEdit" Name="Dasher for editing" Target="[#DasherEXE]" Arguments="/config edit" WorkingDirectory="INSTALLDIR" Icon="Dasher.exe" IconIndex="0"/>
            <Registry Id="ProgramShortcutsReg" Root="HKCU" Key="Software\Inference Group\Dasher5" Name="ProgramShortcuts" Action="write" Type="string" Value="Dummy Key" KeyPath="yes"/>
						<RemoveFolder Id="ProgramShortcutsRemove" On="uninstall"/>
					</Component>
				</Directory>
			</Directory>
      <Directory Id="DesktopFolder" Name="Desktop">
        <Component Id="DesktopShortcuts" Guid="113e7f55-fb83-40a6-8bec-9a143a90434c" KeyPath="no">
          <Shortcut  Id="desktopShortcutDasher" Name="Dasher 5.00 beta" Target="[#DasherEXE]" WorkingDirectory="INSTALLDIR" Icon="Dasher.exe" IconIndex="0"/>
          <Shortcut  Id="desktopShortcutDasherSpeak" Name="Dasher for conversation" Target="[#DasherEXE]" Arguments="/config speak" WorkingDirectory="INSTALLDIR" Icon="Dasher.exe" IconIndex="0"/>
          <Shortcut  Id="desktopShortcutDasherPreparedSpeech" Name="Dasher for speeches" Target="[#DasherEXE]" Arguments="/config prepared_speech" WorkingDirectory="INSTALLDIR" Icon="Dasher.exe" IconIndex="0"/>
          <Shortcut  Id="desktopShortcutDasherDirect" Name="Dasher direct entry" Target="[#DasherEXE]" Arguments="/config direct" WorkingDirectory="INSTALLDIR" Icon="Dasher.exe" IconIndex="0"/>
          <Shortcut  Id="desktopShortcutDasherEdit" Name="Dasher for editing" Target="[#DasherEXE]" Arguments="/config edit" WorkingDirectory="INSTALLDIR" Icon="Dasher.exe" IconIndex="0"/>
          <Registry Id="DesktopShortcutsReg" Root="HKCU" Key="Software\Inference Group\Dasher5" Name="DesktopShortcuts" Action="write" Type="string" Value="Dummy Key" KeyPath="yes"/>
          <RemoveFolder Id="DesktopShortcutsRemove" On="uninstall"/>
        </Component>

      </Directory>
		</Directory>
		<Feature Id="Complete" Title="Dasher 5.00-beta" Description="The full Dasher installation." Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
				<ComponentRef Id="MainExecutable"/>
      <ComponentRef Id="ProgramShortcuts"/>
      <ComponentRef Id="DesktopShortcuts"/>
				<ComponentRef Id="Alphabets"/>
				<ComponentRef Id="Training"/>
      <ComponentRef Id="Colours"/>
      <ComponentRef Id="Control"/>
      <ComponentRef Id="Settings"/>
			<!-- Commenting this out for Appveyor CI to work: see /dasher/issues/148
  		<ComponentRef Id="Help"/>
			-->
		</Feature>
		<WixVariable Id="WixUILicenseRtf" Value="License.rtf"/>
		<WixVariable Id="WixUIDialogBmp" Value="Background.bmp"/>
		<WixVariable Id="WixUIBannerBmp" Value="Top.bmp"/>
		<UIRef Id="WixUI_Mondo"/>
		<UIRef Id="WixUI_ErrorProgressText"/>
		<Icon Id="Dasher.exe" SourceFile="..\Win32\Target\Release\Dasher.exe"/>
	</Product>
</Wix>
