// Header
// icons and lang indep. stuff

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Begin Japanese file
"Hello" in this language is: ‚Ÿ‚ ‚¡‚¢
// End Japanese file
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Begin English file
"Hello" in this language is: Hello
// End English file
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
