[Desktop Entry]
Name=Dasher
GenericName=Dasher Text Entry
Exec=dasher
Icon=dasher.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Accessibility
Encoding=UTF-8
